SAAS_ADMIN_EMAIL=admin@exemplo.com
SAAS_ADMIN_PASSWORD_HASH=gere-um-hash-bcrypt

DATABASE_URL="postgresql://usuario:senha@hostname-pooler/neondb?sslmode=require"
DATABASE_DIRECT_URL="postgresql://usuario:senha@hostname/neondb?sslmode=require"